<section class="page-section">
  <div class="container">
    <div class="intro">
      <div class="error">
        <h2 class="section-heading">
          <p class="section-heading-lower"><%= message %></p>
        </h2>
      </div>
    </div>
  </div>
</section>
